<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src='dropdown.js'></script>
    <script>
        angular.module('sampleApp', ['ya.dropdown'])
    </script>
</head>
<body ng-app='sampleApp'>
<div ya-dropdown='open'>
    I am simple one level dropdown
    <button ng-click='open = !open'>click me</button>
    <div ng-if='open' ng-click='$event.stopPropagation()'>
        <ul>
            <li>First item</li>
            <li>Second item</li>
            <li>Third item</li>
        </ul>
    </div>
</div>
<div ya-dropdown='openParent'>
    I am nested dropdown
    <button ng-click='openParent = !openParent'>click me</button>
    <div ng-if='openParent' ng-click='$event.stopPropagation()'>
        <ul>
            <li>First item</li>
            <li>Second item</li>
            <li>
                <div ya-dropdown='openNested'>
                    I am inner dropdown
                    <button ng-click='openNested = !openNested'>click me</button>
                    <div ng-if='openNested' ng-click='$event.stopPropagation()'>
                        <ul>
                            <li>First item</li>
                            <li>Second item</li>
                            <li>Third item</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>